* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.conteudo-principal {
    background-color: rgb(13, 61, 184);
    padding: 20px;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
}
