.botao-saiba-mais {
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.imagem-programmer {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-conteudo {
    font-size: 35px;
}

.subtitulo-conteudo {
    font-size: 18px;
}
